<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorum
    nihil modi, veritatis vel omnis repellat qui animi ipsa voluptate!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Ken L.</h3>
        <p class="quote__organization">CEO Kuru Network Co.</p>
      </div>
    </div>
  </footer>
</blockquote>
